@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar in IE & Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

/* OffCanvas Animation */
.offcanvas {
  background-color: black;
  transform: translateX(100%) !important;
  transition: transform 0.3s ease-in-out !important;
}

.offcanvas.open {
  transform: translateX(0) !important;
}

/*  */
@media (max-width: 768px) {
  .sidebar-text {
    display: none !important;
  }

  .w-64 {
    width: 4rem !important; /* Adjust the width for compact view if needed */
  }
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}



/* like popup animation */
@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.animate-pop {
  animation: pop 0.3s ease-in-out;
}

/* For smooth color transition */
.fa-heart {
  transition: color 0.3s ease-in-out;
}