@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar in IE & Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

/* OffCanvas Animation */
.offcanvas {
  background-color: black;
  transform: translateX(100%) !important;
  transition: transform 0.3s ease-in-out !important;
}

.offcanvas.open {
  transform: translateX(0) !important;
}

/*  */
@media (max-width: 768px) {
  .sidebar-text {
    display: none !important;
  }

  .w-64 {
    width: 4rem !important; /* Adjust the width for compact view if needed */
  }
}


/* .homepage {
    display: flex;
    flex-direction: column;
  }
   */
  /* .main-content {
    display: flex;
  } */
  
  /* .content-area {
    flex: 1;
    padding: 20px;
    color: white;
  } */
  
  /* .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  } */
  
  /* .tab-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
  } */
/*   
  .tab-button.active {
    background-color: #4caf50;
  } */
  
  /* .posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  } */

  
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
